<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area">
                        <span class="color-green"><a href="garden-category.html"
                                title="">{{post.category.name}}</a></span>

                        <h3>{{post.title}}</h3>

                        <div class="blog-meta big-meta">
                            <small><a href="garden-single.html" title="">{{post.date | date:'longDate'}}</a></small>
                            <small><a href="blog-author.html" title="">by {{post.author.first_name}}
                                    {{post.author.last_name}}</a></small>
                        </div><!-- end meta -->


                    </div><!-- end title -->

                    <div class="single-post-media">
                        <img src="assets/images/posts/{{post.image[0].src}}" alt="" class="img-fluid">
                    </div><!-- end media -->


                    <div class="blog-content">
                        <div class="pp">

                            <p>{{post.description}}</p>

                        </div><!-- end pp -->

                    </div><!-- end content -->


                </div><!-- end page-wrapper -->
            </div><!-- end col -->


        </div><!-- end row -->
    </div><!-- end container -->
</section>