<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">

                        <app-single-post *ngFor="let post of postsFromCategory" [post]="post"></app-single-post>

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

            </div><!-- end col -->


        </div><!-- end row -->
    </div><!-- end container -->
</section>